In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Find number of unique player SNs

row_count = len(purchase_data_df["SN"].unique())

# Display Total Player Data Frame

Total_players = pd.DataFrame({"Total players":row_count},index = [0])
Total_players

   Total players
0            576

In [3]:
## Purchasing Analysis (Total)


# Unique Items

unique_items = len(purchase_data_df["Item ID"].unique())

# Average Price

average_price = purchase_data_df["Price"].mean()

# Number of Purchases

number_purchases = len(purchase_data_df["Purchase ID"].unique())

# Total Revenue 

total_revenue = purchase_data_df["Price"].sum()

# Display summary data frame & format
summary = pd.DataFrame({"Number of Unique Items":unique_items, 
                        "Average Price":average_price, 
                        "Number of Purchases": number_purchases,
                       "Total Revenue": total_revenue },index = [0])
pd.options.display.float_format = '${:,.2f}'.format
summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [14]:
## Gender Demographics

# Count by gender
gender_group = purchase_data_df.groupby("Gender")
gender_totals = gender_group["SN"].nunique()

# Percentage by gender
player_percentage = (gender_totals/Total_players)*100



#Summary table and display
gender_summary = pd.DataFrame({"Total Counts": gender_totals,
                               "Percentage of Players": player_percentage},)

gender_summary

ValueError: Shape of passed values is (4, 2), indices imply (3, 2)